body {
    background-color: #718041;
    box-sizing: initial

}

#sign-up{
    width: 300px;
    padding: 15px 30px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
    line-height: 2px;
    margin-left: 15px;
    border: 2px solid #8fdfd4; 
}
#top-title{
    width: 900px;
    height: 230px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #545578; 
} 

#main-title{
    color: black; 
}

.menu-item a{
    background-color: #545578;
    padding:10px 45px;
    border-radius: 5px;
}

.search [ type = text] {
    width: 90% ;
    margin-top: 20px ;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    display:inline-block;
    
}


.news{
    background-color: #ffffff;
    padding: 30px;
    
}
.news .content{
    margin-left: 1.2 em;
}

.news .content h2{
    font-weight: bold;
}
.news .description{
    display: flex;
    flex-direction: column;
    margin-left: 1.2 em;
    flex: 1 1 auto;
}
.news .description p{
    font-size: 16px;
    color:rgb(92, 92, 92);
}
.news .image img{
     max-width: 50%;  
     max-height: 50%;  
}
.news .image{
    flex: 0 1 200px;
}
.news a{
    font-weight: bold;
    color: red;
}


#media{
    margin: 30px auto;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 15px;
    border: 2px solid #545578; 
}

