<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type = "text/css"  href="/css/register.css">

</head>
<body>
	<div class="container">
		<div class="register-box">
			<div class="title-box">
				<h1>Sign In Account</h1>
				<hr> 
			</div>
			<form action="#" method="post">
				<div class="username-box">

					<label for="username">Account Name</label>
					<div class="username-input">
						<input type="text" id="username" name="username" autocomplete="off" placeholder="Please enter the User name" />
					</div>
				</div>

				<div class="userPassword-box">
					<label for="userPassword">Password</label>
					<div class="userPassword-input">
						<input type="password" id="userPassword" name="userPassword" autocomplete="off" placeholder="Please enter the password" />
					</div>
				</div>
				
				<div class="submit-box">
					<input id = "submit-button" type="submit" value="Sign In">
				</div>

				<div class="goLogin-box">
					<a href="/users/register" style="text-decoration: none;">Not a member? Please Register here!</a>
				</div>
			</form>
		</div>
	</div>
</body>

</html>